In [1]:
import program as p
import pandas as pd 
from program.text_handler import HandleTexts as ht

def generate_df():
        df = pd.read_csv("synthetic_sample_data.csv")
        return df

[nltk_data] Downloading package stopwords to C:\Users\B. Nafi
[nltk_data]     Girgin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\B. Nafi
[nltk_data]     Girgin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\B. Nafi
[nltk_data]     Girgin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\B. Nafi
[nltk_data]     Girgin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\B. Nafi
[nltk_data]     Girgin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\B. Nafi
[nltk_data]     Girgin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

MISSING VALUE HANDLER

In [ ]:
df = generate_df()

print(f"""
Original Database (genre = drama): 
-----------------------------------------------------------
{df[50:140].loc[df["Genre"] == "Drama"][["Genre", "Budget in USD"]]}
-----------------------------------------------------------
        """)

In [ ]:
df = p.hmv.fill_as_mean(df, "Budget in USD")

print(f"""
fill null as mean (genre = drama): 
-----------------------------------------------------------
{df[50:140].loc[df["Genre"] == "Drama"][["Genre", "Budget in USD"]]}
-----------------------------------------------------------
        """)

df = generate_df()
df = p.hmv.fill_as_median(df, "Budget in USD")

print(f"""
fill null as median (genre = drama): 
-----------------------------------------------------------
{df[50:140].loc[df["Genre"] == "Drama"][["Genre", "Budget in USD"]]}
-----------------------------------------------------------
        """)

df = generate_df()
df = p.hmv.fill_as_constant(df, "Budget in USD", 1234567)

print(f"""
fill null as constant (genre = drama): 
-----------------------------------------------------------
{df[50:140].loc[df["Genre"] == "Drama"][["Genre", "Budget in USD"]]}
-----------------------------------------------------------
        """)

df = generate_df()
df = p.hmv.drop(df, "Budget in USD")

print(f"""
remove null (genre = drama): 
-----------------------------------------------------------
{df[50:140].loc[df["Genre"] == "Drama"][["Genre", "Budget in USD"]]}
-----------------------------------------------------------
        """)

OUTLIER HANDLER

In [ ]:
df = generate_df().sort_values(["Rating"], ascending=False)

print(f"""
Original Database (decreasing) ): 
-----------------------------------------------------------
{df["Rating"]}
-----------------------------------------------------------
        """)

In [ ]:
df = p.ho.remove_outliers(df, "Rating")

print(f"""
Outliers Removed ( decreasing) ): 
-----------------------------------------------------------
{df["Rating"]}
-----------------------------------------------------------
        """)

SCALER HANDLER

In [ ]:
df = generate_df().sort_values(['Budget in USD'], ascending=[False])

print(f"""
Original Database (Budget in USD - decreasing) : 
-----------------------------------------------------------
{df.head(10)["Budget in USD"]}
-----------------------------------------------------------
        """)

In [ ]:
df = generate_df().sort_values(['Budget in USD'], ascending=[False])
df = p.hs.max_scaled(df, "Budget in USD")

print(f"""
Original Database (Budget in USD - decreasing)  
Normalized or Scaled accordingly to maximum absolute : 
-----------------------------------------------------------
{df.head(10)["Budget in USD"]}
-----------------------------------------------------------
        """)

df = generate_df().sort_values(['Budget in USD'], ascending=[False])
df = p.hs.min_max_scaled(df, "Budget in USD")

print(f"""
Original Database (Budget in USD - decreasing)  
Normalized or Scaled accordingly to min-max frequency : 
-----------------------------------------------------------
{df.head(10)["Budget in USD"]}
-----------------------------------------------------------
        """)

df = generate_df().sort_values(['Budget in USD'], ascending=[False])
df = p.hmv.drop(df, "Budget in USD")
df = p.hs.z_method_scaled(df, "Budget in USD")

print(f"""
Original Database (Budget in USD - decreasing)  
Normalized or Scaled accordingly to Z-method : 
-----------------------------------------------------------
{df["Budget in USD"]}
-----------------------------------------------------------
        """)

TEXT HANDLER

In [ ]:
df = generate_df()

print(f"""
Original Database (summary) : 
-----------------------------------------------------------
{df.head()["Summary"]}
-----------------------------------------------------------
        """)

In [ ]:
ht = ht()
df = ht.clean_column(df, "Summary")

print(f"""
Tokenized Version of Database (summary) : 
-----------------------------------------------------------
{df.head()["Summary"]}
-----------------------------------------------------------
        """)

ENCODER HANDLER

In [215]:
df = generate_df()

print(f"""
Original Database (first 10 rows) (Shooting Location) : 
-----------------------------------------------------------
{df.head(10)["Shooting Location"]}
-----------------------------------------------------------
        """)

Original Database (first 50 rows) (Shooting Location) :
-----------------------------------------------------------
0        New York
1           Paris
2          Sydney
3           Paris
4          Sydney
5     Los Angeles
6         Toronto
7     Los Angeles
8        New York
9           Tokyo
10          Paris
11         Sydney
12        Toronto
13        Toronto
14         Sydney
15    Los Angeles
16         Sydney
17          Paris
18          Tokyo
19          Paris
20          Tokyo
21          Tokyo
22         London
23       New York
24          Paris
Name: Shooting Location, dtype: object
-----------------------------------------------------------

In [17]:
df = generate_df()
encoder = p.he()
df = encoder.one_hot_encode(df, "Shooting Location")
print(f"""
Original Database (first 10 rows) (Shooting Location) : 
-----------------------------------------------------------
{df.head(10).filter(regex="Shooting Location")}
-----------------------------------------------------------
        """)

Original Database (first 10 rows) (Shooting Location) :
-----------------------------------------------------------
   Shooting Location_London  Shooting Location_Los Angeles  \
0                       0.0                            0.0
1                       0.0                            0.0
2                       0.0                            0.0
3                       0.0                            0.0
4                       0.0                            0.0
5                       0.0                            1.0
6                       0.0                            0.0
7                       0.0                            1.0
8                       0.0                            0.0
9                       0.0                            0.0

   Shooting Location_New York  Shooting Location_Paris  \
0                         1.0                      0.0
1                         0.0                      1.0
2                         0.0                      0.0
3                         0.0                      1.0
4                         0.0                      0.0
5                         0.0                      0.0
6                         0.0                      0.0
7                         0.0                      0.0
8                         1.0                      0.0
9                         0.0                      0.0

   Shooting Location_Sydney  Shooting Location_Tokyo  \
0                       0.0                      0.0
1                       0.0                      0.0
2                       1.0                      0.0
3                       0.0                      0.0
4                       1.0                      0.0
5                       0.0                      0.0
6                       0.0                      0.0
7                       0.0                      0.0
8                       0.0                      0.0
9                       0.0                      1.0

   Shooting Location_Toronto
0                        0.0
1                        0.0
2                        0.0
3                        0.0
4                        0.0
5                        0.0
6                        1.0
7                        0.0
8                        0.0
9                        0.0
-----------------------------------------------------------

DATE AND TIME HANDLER

In [ ]:
df = generate_df()

print(f"""
Original Database (first 50 rows) : 
-----------------------------------------------------------
{df.head()["Release Date"]}
-----------------------------------------------------------
        """)

In [ ]:
df = p.hdTime.convert_to_datetime(df, "Release Date")

df = p.hdTime.extract_date_parts(df, "Release Date")

print(f"""
Original Database (first 50 rows) : 
-----------------------------------------------------------
{df.head()[["Release Date", "Release Date_year", "Release Date_month", "Release Date_day"]]}
-----------------------------------------------------------
        """)